html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  line-height: 1.5;
  background: black;
}

body .noscroll {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}

.h-100 {
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 1.5rem 1.5rem;
  margin: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn, .btn-blue, .btn-dark, .btn-blue-outline {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  transition: all 0.3s;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-blue {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}
.btn-blue-ab {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}
.btn-blue-edu {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}
.btn-dark {
  color: white;
  background-color: transparent;
}

.btn-blue-outline {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.btn-blue:hover {
  transition: all 0.3s ease;
  background: #8b7478;
  color:white;
}

.btn-blue-outline:hover {
  color: white;
  background-color: #8b7478;
}

.btn-small {
  padding: 0.5rem 1rem;
}
#backToTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0.5rem 0.9rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

.section-subtext {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.flex {
  display: flex;
}

.white-image {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 999px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .hide-for-desktop {
    display: none;
  }
}

header {
  background: #181a1b;
  background-size: cover;
  min-height: 80vh;
  position: relative;
}

header #particles-js {
  height: 80vh;
  position: relative;
}

header #particles-js canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

header nav {
  width: 100%;
}

header nav .nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

header nav .nav-container #logo {
  margin: auto 0;
  z-index: 10;
}

header nav .nav-container #logo img {
  width: 250px;
}

header nav .nav-container .nav-links {
  z-index: 1000;
}

header nav .nav-container .nav-links li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

header nav .nav-container .nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
}

header nav .nav-container .nav-links .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 2px;
  top: 3px;
  margin: auto;
  background: white;
  transition: width 0.3s ease;
}

header nav .nav-container .nav-links .link:hover::after {
  width: 100%;
}

header nav .mobile-menu {
  position: relative;
  z-index: 1000;
}

header nav .mobile-menu .container {
  padding-top: 0;
}

header nav .mobile-menu .container .mobile-menu-links ul {
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

header nav .mobile-menu .container .mobile-menu-links ul li {
  margin: 0rem 1rem;
}

header nav .mobile-menu .container .mobile-menu-links ul .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 2px;
  top: 3px;
  margin: auto;
  background: white;
  transition: width 0.3s ease;
}

header nav .mobile-menu .container .mobile-menu-links ul .link:hover::after {
  width: 100%;
}

header .hero {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .hero h1,
header .hero p {
  color: white;
}

header .hero h1 {
  letter-spacing: 2px;
  white-space: nowrap;
  text-align: center;
  font-size: max(5vw, 16px);
  font-family: rough-love,sans-serif;
font-weight: 400;
font-style: normal;
}

header .hero p {
  color: #dcdcdc;
  line-height: 1.6;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
}

header .hero p .blue-link-underline {
  color: white;
}

header .hero .hero-btns {
  white-space: nowrap;
  text-align: center;
  margin-top: 1rem;
}


@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

header .seperator-skew {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

header .seperator-skew svg {
  position: absolute;
  bottom: 0;
}

header .seperator-skew svg .fill-white {
  fill: white;
}

.seperator-skew svg .black {
  fill: black;
}

@media screen and (max-width: 999px) {
  header nav .container {
    padding-bottom: 0.75rem;
  }
  header nav .nav-container {
    justify-content: center;
  }
  header .hero {
    top: 55%;
  }
  header .socials {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 90%;
  }
  header nav .nav-container #logo img {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  header nav .nav-container #logo {
    font-size: 1.5rem;
  }
  header nav .mobile-menu .container .mobile-menu-links ul li {
    margin: 0 0.5rem;
  }
  header .hero span {
    max-width: 100%;
  }
  header .hero p {
    width: 100%;
  }
}

@media screen and (min-height: 900px) {
  header {
    min-height: 70vh;
  }
  header #particles-js {
    height: 70vh;
  }
}
.aboutMe {
  background: white;
  padding: 3rem 0;
}
.aboutMe img {
  width: 20%;
  border: 1px solid lightgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutMe h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-family: dream-big-wide,sans-serif;
font-weight: 700;
font-style: normal;
}
.aboutMe p {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}
.school {
  background: black;
  padding: 3rem 0;
}

.school h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
  font-family: dream-big-wide,sans-serif;
font-weight: 700;
font-style: normal;
}
.school p {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}
.things {
  background: white;
  padding: 3rem 0;
}

.things h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-family: dream-big-wide,sans-serif;
font-weight: 700;
font-style: normal;
}
.things p {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}
.trabajo {
  background: black;
  padding: 3rem 0;
}

.trabajo h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
  font-family: dream-big-wide,sans-serif;
font-weight: 700;
font-style: normal;
}
.trabajo p {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}



.contact {
  background: white;
  padding: 3rem 0;
}

.contact h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-family: dream-big-wide,sans-serif;
font-weight: 700;
font-style: normal;
}
.contact p {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
  font-family: rival-sans,sans-serif;
font-weight: 200;
font-style: italic;
}

.contact .card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.contact .card-container .card {
  background: #fff;
  width: 260px;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  border-radius: 3px;
  
}

.contact .card-container .card i {
  font-size: 3.5rem;
  color: black;
  margin-bottom: 1rem;
  transition: 0.4s;
}

.contact .card-container .card i:hover {
  transform: translateY(-20%);
}

.contact .card-container .card > * {
  margin: 0.5rem;
}


.footer {
  background: #181a1b;
  padding: 1.5rem 0;
  color: white;
}

.footer .footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer .footer-flex #logo-footer {
  width: 200px;
}

.footer .footer-flex .top-scroll-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 3px solid white;
  border-radius: 50%;
  transition: 0.3s;
}

.footer .footer-flex .top-scroll-button:hover {
  color: #3b82f6;
  border: 3px solid #3b82f6;
}

.footer .footer-flex .footer-icon-links a {
  margin-left: 2rem;
  transition: 0.3s;
}

.footer .footer-flex .footer-icon-links a:hover {
  color: #3b82f6;
}

.footer .footer-flex .footer-icon-links a i {
  transition: 0.3s;
}

.footer .footer-flex .footer-icon-links a i:hover {
  transform: translateY(-20%);
}

@media screen and (max-width: 500px) {
  .footer .footer-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-flex .top-scroll-button {
    margin-top: 2rem;
  }
  .footer .footer-flex .footer-icon-links {
    margin-top: 2rem;
  }
  .footer .footer-flex .footer-icon-links a {
    margin: 0 1rem;
  }
}

/*# sourceMappingURL=main.css.map */